#change_log
tag-list

# Editor backup files etc
*~
\#*

# Autofoo
.deps
.libs
.dirstamp
.clang_complete
.cxx_tags
.yavide_proj
.yavide_session
.vscode
Makefile
Makefile.in
sample.xml
sample.spec
*.tar.gz
aclocal.m4
autom4te.cache
config.h
config.h.in
ios/config.h
config.log
config.guess
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
m4
debian/loolwsd.postinst
common/support-public-key.hpp
*.o
*.exe
cscope*
*.orig
loolwsd.log
*.log.*.gz
*.lo
*.la




